<% if logged_in? %>
    <%= render 'layouts/error_messages', model: @book %>
        <div class="center jumbotron">
            <h3 class="text-center">
                新しい本を投稿する
            </h3>
            <div class="text-center">
                <%= link_to '投稿', new_book_path, class: 'btn btn-lg btn-primary' %>
            </div>
        </div>
    
        <h4 class="mb-3 text-center bg-info">
            タイムライン
        </h4>
        <%= render 'books/books', books: @books %>
<% else %>
    <div class="center jumbotron">
        <div class="text-center">
            <h1>あなたのおすすめ本を紹介してみよう。</h1>
            <%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-primary' %>
        </div>
    </div>
    
<% end %>
    

